body{
	background-color:black;
    font-family:Times New Roman;	/* format huruf */
    font-size:12pt;
	padding:5px 0px 5px 0px;
}
a{
	text-decoration:none;
	color:#990000;
}
a:hover{
	text-decoration:underline;
}
.container{
    width:1000px; /* default 899px */
	margin-top:10px;
    margin:auto;
    display:block;
    #border:1px solid #666666;
    padding:10px;
	background-color:white;
	text-align:center;
}
.title{
    font-size:14pt;
    font-weight:bold;
}
/* tabel */
table, td, th{
	border-collapse:collapse;
	border:1px solid #cecece;
	padding:8px;
	font-size:12pt;
}
.total{
	text-align:right;
	color:#000000;
	font-weight:bold;
}

.item_barang{
	width:150px;
	border:1px solid #cecece;
	display:inline-table; /* murninya inline-table */
	margin:6px;
	padding:2px;
	background-color:#F0E68C;
	text-align:center;
	border-radius:5px 5px 5px 5px;
}
.item_barang a{
	font-size:12pt;
	padding:5px;
}
.item_barang img{
	width:170px;
	height:150px;
	margin:2px;
}
.item_barang:hover{
	border:5px solid  	#7FFF00;
	border-radius:5px 5px 5px 5px;
	padding:2px;
	margin:2px;
	 /* menetapkan padding tetap 0 */
}
.detail_barang{
	width:854px;
}
.detail_barang img{
	width:380px;        
	display:block;
	margin:auto;
}
.deskripsi{
	text-align:left;
}
.customer{
	/*background-color:#FFFFFF;*/
}
/* Pencarian */
.cari{
	padding:0px 0px 0px 0px;
}
#cari{
	width:250px;
	height:30px;
}
#cari.button{
	width:50px;
	height:30px;
}
.button{
	width:65px;
	height:20px;
	background-color:#66CDAA;
	border:none;
	color:#FFFFFF;
	margin:0px;
	padding:2px;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	font-weight:bold;
}
.button:hover{
	background-color:#00004d;
	color:white;
	text-decoration:none;
}
.button#beli{
	
}

#header{
    background-image:url('../images/header.jpg');
    background-size:100% 100%;
	background-position:right;
	background-repeat:none;
	text-align:left;
}
#menu{
    margin:auto; /* default -10px */
    padding-top:1px;
	font-size:12pt;
	width:1000px;
	height:40px;
	text-transform:uppercase;
    background-color:#778899;
	top:0px;
	left:0px;
	right:0px;
}
#menu li{
    display:inline-block;
}
#menu a{
	#height:30px;
	#padding-top:20px;
    display:inline-block;
    margin:0px 10px 0px 10px;
    cursor:pointer;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
}
#menu a:hover{
    color:#990000;
}
#menu img.beranda{
	margin-bottom:-6px; /* atas, kanan, bawah, kiri */
}
img.kanan#menu{
	margin-bottom:-6px;
	margin-left:550px;
}
#footer{
    background-color:#778899;
    color:#FFFFFF;
	text-align:center;
	bottom:0px;
	left:0px;
	right:0px;
	width:1020px; /* default 899px */
    margin:auto;
	padding-top:10px;
	padding-bottom:10px;
}

/* kondisi */
.succes{
	font-style:italic;
	color:#00FF00;
	font-weight:bold;
}
.error{
	font-style:italic;
	color:#FF0000;
	font-weight:bold;
}

/* form input */
.lb{
	display:block;
}
